

@{
    Layout = "adminLayout";
}
@using PokemonsMarketWeb.Models

@model User
<h3>Update User</h3>

<form asp-action="UpdateUser" asp-controller="AdminHome" method="post">
    

    <input asp-for="@Model.id" class="form-control" type="hidden" />

    <div class="form-group">
        <label>
            <p key=0>Name:</p>  <span class="text-danger">*</span>
            <span asp-validation-for="@Model.name" class="text-danger"></span>
        </label>
        <input asp-for="@Model.name" class="form-control" />
    </div>

    <div class="form-group">
        <label>
            <p key=1>Surname:</p>
            <span class="text-danger">*</span>
            <span asp-validation-for="@Model.surname" class="text-danger"></span>

        </label>
        <input asp-for="@Model.surname" class="form-control" />
    </div>

    <div class="form-group">
        <label>
            <p key=2>Username:</p>

            <span class="text-danger">*</span>
            <span asp-validation-for="@Model.userName" class="text-danger"></span>
        </label>
        <input asp-for="@Model.userName" class="form-control" />
    </div>

    <div class="form-group">
        <label>
            Email:

            <span class="text-danger">*</span>
            <span asp-validation-for="@Model.mail" class="text-danger"></span>
        </label>
        <input asp-for="@Model.mail" class="form-control" />
    </div>

    <div class="form-group">
        <label>
            <p key=4>Phone:</p>
            <span class="text-danger">*</span>
            <span asp-validation-for="@Model.phone" class="text-danger"></span>
        </label>
        <input asp-for="@Model.phone" class="form-control" />
    </div>

    <div class="form-group">
        <label>
            <p key=6>Wallet:</p>

            <span class="text-danger">*</span>
            <span asp-validation-for="@Model.wallet" class="text-danger"></span>
        </label>
        <input asp-for="@Model.wallet" class="form-control" />
    </div>

    <div class="form-group">
        <label>
            <p key=5>Password:</p>

            <span class="text-danger">*</span>
            <span asp-validation-for="@Model.password" class="text-danger"></span>
        </label>
        <input asp-for="@Model.password" class="form-control" />
    </div>
    
    <div class="form-group">
        <label>
            <p key=7>Role:</p>

            <span class="text-danger">*</span>
            <span asp-validation-for="@Model.role" class="text-danger"></span>
        </label>
        <input asp-for="@Model.role" class="form-control" />
    </div>
   


    <div class="form-group text-right">
        <button type="submit" class="center btn btn-primary" key=18>Update</button>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger">
    </div>

</form>


    @section Scripts{
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="\node_modules\jquery-validation-unobtrusive\dist\jquery.validate.unobtrusive.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="/js/script.js"></script>
}