@{
    Layout = "_Layout";
}
@using PokemonsMarketWeb.Models

@model List<Pokemon>
@{
    string path = Directory.GetCurrentDirectory() + "wwwroot/";
}


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            height: 300px; 
        }

      
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .center {
            border: 5px;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>

    <table class="table table-hover table-bordered">
        <thead>

            <tr>
                <th>Frist Name </th>
                <th>Last Name </th>
                <th> Wallet </th>
            </tr>

        </thead>
        <tbody>
           
                <tr>
                    <td>@ViewBag.user.name</td>
                <td>@ViewBag.user.surname</td>
                <td>@ViewBag.user.wallet</td>

                </tr>

        </tbody>
    </table>


    @for (int i = 0; i < Model.Count; i += 3)
    {

        <div class="row">


            <div class="column">
                <a class="center" asp-action="Detail" asp-route-fileName="@Model[i].id"><img src="/Image/@(Model[i].species).jpg" width=40% height=40%></a>
                <br>
                <p class="center">  @Model[i].name</p>
                <p class="center"><a asp-action="Sell" asp-route-fileName="@Model[i].id">Sell</a></p>
                <p class="center">  @Model[i].price</p>
            </div>
            @if (i + 1 < Model.Count)
            {
                <div class="column">

                    <a class="center" asp-action="Detail" asp-route-fileName="@Model[i+1].id"><img src="/Image/@(Model[i+1].species).jpg" width=40% height=40%></a>
                    <br>
                    <p class="center"> @Model[i+1].name</p>
                    <p class="center"><a asp-action="Sell" asp-route-fileName="@Model[i+1].id">Sell</a></p>
                    <p class="center">  @Model[i+1].price</p>

                </div>
            }
            @if (i + 2 < Model.Count)
            {

                <div class="column">
                    <a class="center" asp-action="Detail" asp-route-fileName="@Model[i+2].id"><img src="/Image/@(Model[i+2].species).jpg" width=40% height=40%></a>
                    <br>
                    <p class="center">  @Model[i+2].name</p>
                    <p class="center"><a asp-action="Sell" asp-route-fileName="@Model[i+2].id">Sell</a></p>
                    <p class="center">  @Model[i+2].price</p>
                </div>
            }
        </div>
              <br />
    }

</body>
</html>





