@{
    Layout = "_Layout";
}
@using PokemonsMarketWeb.Models

@model List<Pokemon>
@{
    string path = Directory.GetCurrentDirectory() + "wwwroot/";
}


<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            height: 335px; 
        }

      
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .center {
            border: 5px;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>

    <table class="table table-hover table-bordered">
        <thead>

            <tr>
                <th> <label key=0>Name</label> </th>
                <th><label key=1>Surname</label> </th>
                <th ><label key=5> Wallet </label></th>
            </tr>

        </thead>
        <tbody>
           
                <tr>
                    <td>@ViewBag.user.name</td>
                <td>@ViewBag.user.surname</td>
                <td>@ViewBag.user.wallet ₺</td>

                </tr>

        </tbody>
    </table>


    @for (int i = 0; i < Model.Count; i += 3)
    {
 
        <div class="row">


            <div class="column border border-info">
                <a class="center" asp-action="Detail" asp-route-fileName="@Model[i].id"><img src="/Image/@(Model[i].species).jpg" width=40% height=40%></a>
                <br>
                <b class="center">  @Model[i].name</b>
                <p class="rounded center p-3 mb-2 bg-success text-white">  @Model[i].price ₺</p>
                @if (Model[i].sellStatue.ToString() != "selling")
                {
            <a key=11 style="text-decoration: none" class="center  text-dark rounded center p-3 mb-2 bg-warning" asp-action="Sell" asp-route-fileName="@Model[i].id">Sell</a>
                }
                @if (Model[i].sellStatue.ToString() == "selling")
                {
                    <a  style="text-decoration: none" class="center  text-dark rounded center p-3 mb-2 bg-warning" asp-action="NotSell" asp-route-fileName="@Model[i].id" key=25>At Market</a>
                }

            </div>

            @if (i + 1 < Model.Count)
            {
                <div class="column border border-info">

                    <a class="center" asp-action="Detail" asp-route-fileName="@Model[i+1].id"><img src="/Image/@(Model[i+1].species).jpg" width=40% height=40%></a>
                    <br>
                    <b class="center"> @Model[i+1].name</b>
                    <p class="rounded center p-3 mb-2 bg-success text-white">  @Model[i+1].price ₺</p>
                    @if (Model[i + 1].sellStatue.ToString() != "selling")
                    {
                        <a key=11 style="text-decoration: none" class="center  text-dark rounded center p-3 mb-2 bg-warning" asp-action="Sell" asp-route-fileName="@Model[i + 1].id">Sell</a>
                    }
                    @if (Model[i + 1].sellStatue.ToString() == "selling")
                    {
                        <a style="text-decoration: none" class="center  text-dark rounded center p-3 mb-2 bg-warning" asp-action="NotSell" asp-route-fileName="@Model[i + 1].id" key=25>At Market</a>
                    }

                </div>
            }
            @if (i + 2 < Model.Count)
            {

                <div class="column border border-info">
                    <a class="center" asp-action="Detail" asp-route-fileName="@Model[i+2].id"><img src="/Image/@(Model[i+2].species).jpg" width=40% height=40%></a>
                    <br>
                    <b class="center">  @Model[i+2].name</b>
                    <p class="rounded center p-3 mb-2 bg-success text-white">  @Model[i+2].price ₺</p>
                    @if (Model[i+2].sellStatue.ToString() != "selling")
                    {
                        <a key=11 style="text-decoration: none" class="center  text-dark rounded center p-3 mb-2 bg-warning" asp-action="Sell" asp-route-fileName="@Model[i+2].id">Sell</a>
                    }
                    @if (Model[i + 2].sellStatue.ToString() == "selling")
                    {
                        <a style="text-decoration: none" class="center  text-dark rounded center p-3 mb-2 bg-warning" asp-action="NotSell" asp-route-fileName="@Model[i+2].id" key=25>At Market</a>
                    }
                </div>
            }
        </div>
              <br />
    }

</body>
</html>

@section Scripts{


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="/js/script.js"></script>
}





